appdirs==1.4.3
attrs==19.3.0
black==19.10b0
Click==7.0
loguru==0.3.2
pathspec==0.6.0
python-engineio==3.10.0
python-socketio==4.3.1
regex==2019.11.1
six==1.13.0
toml==0.10.0
typed-ast==1.4.0
websockets==8.1
